.DS_Store
*.xcuserstate
/1.3 Operators.playground/playground.xcworkspace/xcuserdata/parkerrushton.xcuserdatad/UserInterfaceState.xcuserstate
/AppLifeCycleDemo/AppLifeCycleDemo.xcodeproj/xcuserdata/parkerrushton.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
